<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bem vindo ao Colaço</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="menu">
        <div class="logo">                                                                                                                                                                  
            <img src="/images/Logo-colaço.png" alt="">
        </div>
        <div class="nav-bar">
            <a href="index.html">Home</a>
            <a href="sobre.html">Sobre</a>
            <a href="contatos.html">Contatos</a>
        </div>
    </div>
    <div class="carrossel-container">
        <div class="carossel">

            <div class="carrossel-item">
                <img src="" alt="">
            </div>

            <div class="carrossel-item">
                <img src="" alt="">
            </div>

            <div class="carrossel-item">
                <img src="" alt="">
            </div>

            <div class="carrossel-item">
                <img src="" alt="">
            </div>

        </div>
    </div>

    <footer>

    </footer>
</body>


</html>


